*{
    margin: 0;
    padding: 0;
}
.cabeçalho{
    background-color: #16ed90;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #f0f0f0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cabeçalho-logo{
    padding: 24px 0;
    font-size: 24px;
}
.cabeçalho-lista-item{
    display:inline-flex;
    margin: 0 16px;
}
.imagem-escola{
    width: 25%;
}
.escola{
    background-image: linear-gradient(#424E61,#4EBFE9);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 24px 0;
}
.escola-div{
    width: 35%;
}
.sobre-escola{
    padding: 24px 0;
}